[user]
    email = vince.siu4@gmail.com
    name = Vincent Siu
[core]
    editor = vim
[color]
    branch = auto
    diff = auto
    interactive = auto
    pager = true
    status = auto
    ui = true
[color "status"]
    added = green
    changed = yellow
    untracked = red
[rerere]
    enabled = true
    autoupdate = true

# Too new to use
#[color "diff"]
#    old = red strike
#    new = green italic


#Important options
#############################
[push] 
    #Only push the current branch to remote
    default = simple


#Aliases
#############################
[alias]
    st = status

    # shows a simple history
    sl = log --oneline --graph

    # shows a more complex history.
    # --decorate=full shows the full name of the reference, which is nice for different remotes
    # --all shows every branch, not just the current one
    ssl = log --decorate=full --oneline --graph --all
